@charset "UTF-8";

/* A mente do site */
* {
    margin: 0;
    padding: 0;
    font-size: 1em;
}
html, body {
    font: 1.5em var(--font-padrao);
    min-height: 100vh;
}

a {
    color: white;
    font-weight: bolder;
    transition-duration: .2s;
}
a:focus-visible {
    padding: 0.1em;
}
a:hover,
a:focus-visible {
    text-decoration: underline;
    color: lightgray;
}
a:active {
    color: gray;
}

/* O corpo do site */
/* E seu cabeçalho */
header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 3%;
}

header > h1 {
    font-variant: small-caps;
    font-family: var(--fonte-titulo);
    font-size: 2em;
    letter-spacing: 5px;
}

header > p {
    font-size: 1em;
}

/* O conteúdo do site */
section {
    padding: 10vh 3em;
    font-family: var(--font-manual);
    line-height: 2em;
}

section > p {
    padding-bottom: 2em;
    animation: fade 1s ease-out;
    animation-timeline: view();
    animation-range: cover -10% cover 36%;
}
@keyframes fade {
    from {
        opacity: 0;
        translate: -10vw 0;
    }
    to {
        opacity: 1;
        translate: 0 0;
    }
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: #333333;
    color: white;
    box-shadow: inset 6px 6px 13px 0 rgba(0, 0, 0, 0.336);
    background-size: cover;
    background-attachment: fixed;
}

section.imagem > p {
    background-color: #00000081;
    width: max-content;
    padding: 5%;
    text-shadow: 1px 1px 0 black;
}

section#img01 {
    background-image: url(../imagens/background001.jpg);
    background-position: right center;
}

section#img02 {
    background-image: url(../imagens/background002.jpg);
    background-position: right center;
}

/* O rodapé do site */

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 1.5em;
}

footer #topo {
    cursor: pointer;
    background-color: white;
    color: black;
    font-size: 2em;
    padding: 0.5%;
    transition-duration: .4s;
}
footer #topo:hover,
footer #topo:focus-visible {
    background-color: lightgray;
}
footer #topo:active {
    background-color: gray;
    color: white;
    transition-duration: .2s;
}

footer p {
    margin-top: 1em;
}